<form class="form--narrow align--center signin" novalidate ng-controller="SignInController" ng-submit="attemptLogin(email, password)">
  <h1 class="form__title">Welcome to Formyula</h1>
  <p ng-show="isAuthenticationError()" class="text--error">We do not recognize your username/password combo.</p>

  <label class="label--full" for="email">
    <input id="email" type="email" name="email" class="input__text" ng-model="email" placeholder="Email Address" required>
  </label>

  <label class="label--full" for="password">
    <input id="password" type="password" name="password" class="input__text" ng-model="password" placeholder="Password" required>
  </label>

  <button class="button__fill--primary">Log In</button>
</form>

<!--<p class="form&#45;&#45;narrow align&#45;&#45;center"><a href="#/register">Need to create an account? Click here</a></p>-->