<div class="container">
<div>
    <label for="search">Search:</label>
    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
</div>



<table class="table">
    <thead>
      <tr>
        <th>Business Name</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="business in businesses track by $index">
          <td>{{business.name}}</td><td>Some Action</td>
      </tr>
    </tbody>
</table>


<button ng-click="prevPage();">Previous</button>
<button ng-click="nextPage();">Next</button>

</div>