<table>
    <thead>
    <tr>
        <td>Name</td><td>Actions</td>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="businessType in businessTypes">
          <td>{{businessType.name}}</td><td><button ng-click="removeBusinessType($index)">Remove</button></td>
        </tr>
    </tbody>
</table>
<form ng-submit="addBusinessType(newBusinessType)">
    <input id="newBusinessType" type="text" name="newBusinessType" ng-model="newBusinessType.name" placeholder="Enter Business Type" required>
    <button>Add Business Type</button>
</form>
